.main {
    width: 800px;
    height: 450px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    position: absolute;
    right: 5%;
    top: 15%;
    background: white;
}

.sound-wave {
    position:relative;
    width: 100%;
    height: 200px;
}

#player {
    float: right;
    margin: 10px;
}

#startb {
    margin: 10px;
    background: black;
}

#stopb {
    margin: 10px;
}